extends layout

block content
  h1= title
   

   
  
  -var results=[];
  -var Rabbit={};
  -Rabbit.breed="Pug";
  -Rabbit.color="Small";
  -Rabbit.price=50;
  -results.push(Rabbit);
  -var Rabbit1={};
  -Rabbit1.breed="Pomerian";
  -Rabbit1.color="Medium";
  -Rabbit1.price=25;
  -results.push(Rabbit1);
  -var Rabbit2={};
  -Rabbit2.breed="Lab";
  -Rabbit2.color="Large";
  -Rabbit2.price=100;
  -results.push(Rabbit2);
  
  div(class="container-fluid")
  div(class="row")
   each b,index  in results
    div(class="col-sm-2" onclick =`buy(${index})`) Breed : #{b.breed}, Color : #{b.color}, price : #{b.price}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        } 


  // div(class='container-fluid')
    div(class='row')
     div(class='Dog1') Dog one Details
       p Breed #{results[0].Breed}
       p Size #{results[0].Dimension}
       p Price #{results[0].value}

     div(class='Dog1') Dog Two Details
       p Breed #{results[1].Breed}
       p Size #{results[1].Dimension}
       p Price #{results[1].value}
       
     div(class='Dog1') Dog Two Details
       p Breed #{results[1].Breed}
       p Size #{results[1].Dimension}
       p Price #{results[1].value}  //
     


   //-var list = results
    //each item in list
    //div(class='col-sm-2') #{item}
    

       